/* CSS Stylesheet for the Psst microblog */
/* Author: Your Name Joel Berta */


/* all images were sourced from https://thenounproject.com/term/whisper/153995/ */

html {
    background-color: #e9ebee;
    color: #000000;
    font-family: sans-serif;
}

.staticBars {
    background-color: #d3d3d3;
}

/* sidebar ===================================================================================================== */

.sidetitle {
    margin-top: 20px;
    text-align: center
}

.sidebar {
    background-color: #FFFAFA;
    width:14%;
    height: 100%;
    margin-left: -20px;
    top: 139px;
    position: fixed;
    box-shadow: 0 3px 2px rgba(0,0,0,0.25);
    z-index: 2;
    min-width: 232.81px;
}
.subtext {
    margin-top: 5%;
}

.sidenav {
    height: 50px;
    background-color:#87CEEB;
    min-width: 232.81px;
}

.sidenav li {
    width: 86px;
    float:left;
    border-bottom: none;
    height: 10px;
    line-height: 50px;
    font-size: 1.2em;
    display: inline-block;
}

#references {
    list-style-type: none;
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.sidenav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.sidenav a:hover {
  background-color: #005f5f;
  cursor: pointer;
    width: 100%;
}

.mentions li {
    margin-bottom: 10px;
}

.hashtags li {
    margin-bottom: 10px;
}

.mentions {
    display:block;
}

.hashtags {
    display:none;
}

/* top navigation bar ===================================================================================================== */
.top {
    display:inline-block;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
    top: 0px;
    width: 101%;
    min-width: 800px;
    background-color: #FFFAFA;
    margin-left: -20px;
    height: 140px;
    position: fixed;
    z-index: 1;
}

.login {
    float: right;
    margin-right: 300px;
    display: inline-block;
    padding-right: 100px;
}

.loginform {
    display: none;
    background-color:#87CEEB;
    width: 180px;
    margin-top: -1px;
    box-shadow: 0 3px 2px rgba(0,0,0,0.25);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white !important;
}

.logoutform {
    display: none;
    margin-top:-1px;
    background-color:#87CEEB;
}

.nav {
    margin-left: 9%;
    height: 35%;
    top:300px;
    min-width: 840.05px;
    background-color:#87CEEB;
}

.ico{
    width: 130px;
    height: 90%;
    background-color: #FFFAFA;
    float: left;
}

.nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.registerText {
    font-size: 0.6em;
}

.registerList {
    width: 100px;
    list-style-type: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.registerList li {
    padding-bottom: 30px;
}

.registerList li lable {
    margin-right: 10px;
}

.inputError {
    width: 200px
}

button {
    padding:5px 5px; 
    background:#d5e8ef; 
    border:50px;
    border-color: black;
    cursor:pointer;
}

.welcome {
    margin-left: 270px;
    margin-top: 50px;
    font-family: Lucida Console;
    font-weight: bold;
    font-size: 20px;
    color: #87CEEB;
}

/* text messages ===================================================================================================== */


.textbox {
    resize: none;
    outline: none;
    background-color: #e9ebee;
    width:74%;
    margin-top: 5px;
    height:110px;
    margin-left: 3%;
    z-index: 0;
}

#you {
    margin-bottom: 50px;
    height: 18%;
    position: relative;
}

#you-page {
    width: auto;
    position: relative;
    margin-bottom: 50px;
    background-color: #d5e8ef;
}

#you-page .user {
    border-right-width: thin;
    border-right-style: none;
    width: 116px;
    height: 125px;
    float: left;
}

#you .user {
    border-right-style: solid;
    border-right-color: #87CEEB;
    border-right-width: thin;
    width: 116px;
    height: 125px;
    background-color: #d5e8ef;
    float: left;
}


input[type=submit] {
    padding:5px 5px; 
    background:#d5e8ef; 
    border:0 none;
    cursor:pointer;
    position: absolute;
    bottom: 3px;
    right: 1%;
    width: 5%;
}

.psst {
    border-style: solid;
    border-color: #87CEEB;
    border-width: thin;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #FFFAFA;
    top: 40px;
}

.user {
    border-right-style: solid;
    border-right-color: #87CEEB;
    border-right-width: thin;
    width: 10%;
    height: 20%;
    background-color: #d5e8ef;
    float: left;
}

.userList {
    float:left;
}

.userList .name {
    text-align: center;
    width: 10;
}

.userList .profile {
    margin:0 auto;
    display: block
}

.user .name {
    text-align: center;
    width: 10;
}

.user .profile {
    width:104px;
    height: 104px;
    margin:0 auto;
    display: block
}

.user .image {
    height:118px;
    width:118px;
     margin:0 auto;
}

.message {
    background-color: #FFFAFA;
    margin-left: 12%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}
.timestamp {
    border-right-style: solid;
    border-right-color: #87CEEB;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #87CEEB;
    border-bottom-width: 2px;
    display: inline-block;
    border-bottom-width: thin;
    top: 2px;
    font-size:12px;
}
.messages {
    margin-top: 30px;
}
.messaging {
    background-color: #e9ebee;
    margin-left: 20%;
    margin-top: 190px;
    min-width: 765.8px;
    width:70%;
}

.writeMessage {
    float:left;
    margin-right: 2%;
    height: 70%;
    width: 8%
}

.hashtag {
    color: blue;
    text-decoration: underline;
}

.at {
    color: blue;
    text-decoration: underline;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    background-color: #d5e8ef;
}